NODE_ENV=development

# Service ports
PORT=3000
FX_ENGINE_URL=http://localhost:3002
SETTLEMENT_ENGINE_URL=http://localhost:3001
INDEXER_URL=http://localhost:3003

# Stellar Testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org

# Contract addresses (testnet — update after each deploy)
SETTLEMENT_CONTRACT_ID=CC74K4KWT4ZSTDBGEYM2LT2N4H6R2HV7VA5HEWUQVPMHVDPL44EQSCNM
GOVERNANCE_CONTRACT_ID=CATDQJ4O24SOWJHJFHA4GZCVBFSAAELJ62FXI7XSAMNQ753BOWHIM3LJ
ADMIN_ADDRESS=GCCHHKNI7GRA5QWC7RCTT3OHO7SKAUMKQA6IBWEQEO2SXI3GF376UHDD

# Database (optional — services run in-memory by default)
# DATABASE_URL=postgresql://bettapay:password@localhost:5432/bettapay
